h4 {
  text-align: center;
}

select {
  display: block;
  margin: 0 auto;
}

.takeupspace{
  width: auto;
  text-align: center;
}

.center{
  align-content: center;
}

.spinner{
  width: auto;
  margin-bottom: .5%;
}

.servErr {
  color: brown;
  text-align: center;
}
